In [2]:
import pandas as pd
import numpy as np 
import spacy
from flair.data import Sentence
from flair.models import SbequenceTagger
from spacy import displacy
import networkx as nx
import matplotlib.pyplot as plt
import os

In [32]:
def load_book_ner(book_dir,book_num):
    spacy.cli.download("en_core_web_sm")
    # Load spacy English languague model
    NER = spacy.load("en_core_web_sm")
    
 
    # Get all book files in the data directory
    all_books = [b for b in os.scandir(book_dir) if '.txt' in b.name]
    book=all_books[book_num]
    book_text=open(book).read()
    book_doc=NER(book_text)
    return book_doc

In [16]:
def filter_entity(ent_list,character_df):
    return [ent for ent in ent_list
            if ent in list(character_df['Character'])
            or ent in list(character_df['character_firstname'])]

In [35]:
def sent_entity_df(book_doc,character_df):
    import re
    sent_entity_df=[]

    for sent in book_doc.sents:
        entity_list=[ent.text for ent in sent.ents]
        sent_entity_df.append({'sentence':sent,'entites':entity_list})

    sent_entity_df=pd.DataFrame(sent_entity_df)
    sent_entity_df['character_entities']= sent_entity_df['entites'].apply(lambda x: filter_entity(x,character_df))
    return sent_entity_df

In [11]:
character_df=pd.read_csv('Characters')

In [14]:
character_df

                          title                           Character
0    The Fellowship of the Ring                        Adelard Took
1    The Fellowship of the Ring                              Amroth
2    The Fellowship of the Ring                             Anárion
3    The Fellowship of the Ring                           Ancalagon
4    The Fellowship of the Ring                       Andwise Roper
..                          ...                                 ...
210              The two towers                              Háma\t
211              The two towers  Other Allies and Benevolent Beings
212              The two towers                           Fangorn\t
213              The two towers                            Bregalad
214              The two towers                           Shadowfax

[215 rows x 2 columns]

In [18]:
sent_entity_df(book,character_df)

TypeError: sent_entity_df() missing 1 required positional argument: 'character_df'

In [20]:
def print_msg(msg):
    # This is the outer enclosing function

    def printer():
        # This is the nested function
        print(msg)

    return printer  # returns the nested function

In [21]:
# Now let's try calling this function.
# Output: Hello
another = print_msg("Hello")
another()

Hello

In [29]:
# We execute the function
# Output: Hello
print_msg("Hello")

In [28]:
def print_msg(msg):
    # This is the outer enclosing function

    def printer():
        # This is the nested function
        print(msg)

    printer()

In [43]:
>>> def factorial(number):
...     # Validate input
...     if not isinstance(number, int):
...         raise TypeError("Sorry. 'number' must be an integer.")
...     if number < 0:
...         raise ValueError("Sorry. 'number' must be zero or positive.")
...     # Calculate the factorial of number
...     def inner_factorial(number):
...         if number <= 1:
...             return 1
...         return number * inner_factorial(number - 1)
...     return inner_factorial(number)
...

>>> factorial(7)

5040